<launch>

  <arg name="file_prefix" />

  <rosparam param="teach_motions/file_prefix" subst_value="True">
    $(arg file_prefix)
  </rosparam>

  <rosparam command="load" file="$(find teach_motions)/cfg/$(arg file_prefix).yaml" />

  <node name="postprocess" pkg="teach_motions" type="process_pose_data" output="screen" />

</launch>