<launch>

  <arg name="filename" />

  <rosparam param="teach_motions/filename" subst_value="True">
    $(arg filename)
  </rosparam>

  <rosparam command="load" file="$(find teach_motions)/cfg/$(arg filename).yaml" />

  <node name="teach_motions" pkg="teach_motions" type="teach_motions" output="screen" />

</launch>