<launch>

  <!-- This launch file simply loads the correct parameters to the ROS server -->

  <arg name="file_prefix" />

  <rosparam param="teach_motions/file_prefix" subst_value="True">
    $(arg file_prefix)
  </rosparam>

  <rosparam command="load" file="$(find teach_motions)/cfg/$(arg file_prefix).yaml" />

</launch>
