<launch>

  <!--                             -->
  <!-- Jogging nodes for both arms -->
  <!--                             -->

	<rosparam command="load" file="$(find teach_motions)/cfg/vaultbot_right_jog_settings.yaml" ns="right_arm" />
	<node name="teach_motions_right_jog_arm_server" pkg="jog_arm" type="jog_arm_server" output="screen" >
	    <param name="parameter_ns" type="string" value="right_arm" /> 
	</node>

	<rosparam command="load" file="$(find teach_motions)/cfg/vaultbot_left_jog_settings.yaml" ns="left_arm" />
	<node name="teach_motions_left_jog_arm_server" pkg="jog_arm" type="jog_arm_server" output="screen" >
	    <param name="parameter_ns" type="string" value="left_arm" /> 
	</node>


  <!--                                       -->
  <!-- The replay server waits for a request -->
  <!--                                       -->

  <node name="compliant_replay_server" pkg="teach_motions" type="compliant_replay_server" output="screen" />

</launch>
